__pycache__
.vscode
build
cam_readability_assessment.egg-info
readability_code/__pycache__
.vscode
readability_code/
pipeline_readability.py
cefr_freq_info.pkl
data/
dist/
exp_distrib/figures_distrib/
exp_distrib/distrib_level_vis.ipynb
exp_embedding/corpus_embedding/
exp_embedding/figures/
stanfordnlp_/__pycache__/
stanfordnlp_/test/
stanfordnlp_/test.xml.stanfordnlp/
tips.txt
test.py
params_pipeline.yaml
lexical_simplifcation/private.py
settings/private.py
onestop/adv-text-all/
rename.py
OneStopEnglishCorpus/
final_exp_mapping/mappings/